
body{
    background: rgb(136,159,154);
    background: linear-gradient(90deg, rgba(136,159,154,1) 0%, rgba(157,200,192,1) 50%, rgba(184,200,157,1) 100%);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-right: 35px;
    width: 650px;
    height: 500px;
    background-color: rgb(37, 42, 65);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
     }
.box h2{
    color: #355e3b;
    margin-left: 60px;
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

.box img{
   position: absolute;
   margin-bottom: 295px;
   size-adjust: 15px;
   width: 100px;
   height: 100px;
   margin-right: 185px;
   
}

.form-control{
    height: 55px;
    margin-left: 70px;
    color: #355e3b;
}

#InputOne {
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-around;

  
  
}

.col-md-5 {
    width: 10px;
    margin-bottom: -55px;

    
    
    .form-label {
        color: #355e3b;
        font-size: 15px; 
        margin-left:-185px; 
    }
}

.form-group {
    padding: 10px;
    margin-top: 15px;
    margin-left: 25px;

    #btn1 {
        border-radius: 5px;
        background-color: #355e3b;
        width: 150px;
        height: 45px;
        margin-right: 10px;
    }

    #btn2 {
        border-radius: 5px;
        background-color: #355e3b;
        width: 150px;
        height: 45px;
        margin-left: 10px;
    }
}


.demo{
    margin-top: 15px;
    padding: 20px;
    color: #355e3b;
    font-family: 'Heebo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Single Day', cursive;
}


